.main-heading{
  font-family: 'Cookie', cursive;
  font-style: italic;
  font-size: 40px;
}

.main-heading-mobile{
  display:none;
  font-family: 'Cookie', cursive;
  font-style: italic;
  font-size: 40px;
  color:white;
}

.nav-menu{
  display:inline-flex;
}

.nav-menu-mobile{
  display:none;
}

@media screen and (max-width: 667px){
  .main-heading{
    display:none;
  }
  .main-heading-mobile{
    display: block;
  }

  .nav-menu{
    display:none;
  }

  .nav-menu-mobile{
    display:block;

  }

}

.intro-container{
@media screen and (max-width: 576px){
  max-width:fit-content;
  margin:0;
}
}

.intro-content-head{
  font-size: 2.2em;
}

.intro-content-description{
  font-size: 22px;
}

.social-links{
  size:7x;
}

.greeting-pic{
  width:340px;
  height:420px;
  /* margin:0px 0 0 100px; */
  border-radius: 22%;
  /* transform: rotate(20deg); rgba(24, 38, 41, 0.7) */
  box-shadow: 0 0 7px 5px rgba(70, 69, 69, 0.2);
  opacity: 0.8;
}

@media screen and (max-width:667px){
  .greeting-pic{
    width: 260px;
    height:340px;
    /* margin-left:10px;
    margin-bottom: -53px; */
    box-shadow:none;
    /* zoom: 130%;
    transform: rotate(23deg); */
    opacity: 0.8;

  }
}

@media screen and (max-width:576px){
  .greeting-pic{
    width:245px;
    height:325px;
    zoom: normal;
    border-radius: 26%;
    zoom:120%;
  }

  .intro-content-head{
    font-size: 1.5em;
  }

  .intro-content-description{
    font-size: 15px;
  }
}

.contact{
  font-size: 1.2 em;
}

@media screen and (max-width: 667px){
  .contact{
    font-size: 0.9em;
  }
}
